html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
    scroll-behavior: smooth;
  }

body {
    background-color: black;
    color: white;
    font-family: 'Open Sans';
    font-weight: lighter;
    font-size: 16px;
}
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: nowrap;
    height: 90vh;
}
.logo {
    /* padding-top: vh; */
    width: 37vw;
}
.sections {
    /* padding-bottom: 5vh; */
}
.sectionselector {
    font-size: 1.1rem;
    
}
.sections h1 {
    font-size: 0.8rem;
    padding: 2.3vh 0;
}
.articles {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: wrap;
}
.articles li {
    background-color: white;
    color: white;
    height: 420px;
    display: flex;
    align-items: flex-end;
    background-position: center;
    background-size: 100vh;
}
.articles li p{
    background-color: rgba(0, 0, 0, 0.7);
    line-height: 1.5;
    padding: 8px; 
}
.articles a {
    text-decoration: none;
    flex-basis: 50%;

}
.copyright {
    font-size: 0.9rem;
    text-align: center;
    padding-bottom: 6vh;
    color: #c2c2c2;
}


@media screen and (min-width: 600px) {
.logo {
    width: 22vw;
}
header {
    flex-direction: row;
    flex-wrap: wrap;
}
.navform {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-right: 13vw;
    /* padding-top: 6vh; */
}
.sections {
    /* padding-bottom: 0vh; */
    /* padding-top: 1vh; */
    padding-left: 3vw;
}
.sections h1 {
    font-size: 0.9rem;
}
.copyright {
    width: 100%;
}
}

@media screen and (min-width: 1000px) {
header {
    text-align: left;
    justify-content: flex-start;
    padding-left: 1vw;
    /* padding-bottom: 1.5vh; */
}
.logo {
    max-width: 220px;
    /* padding-bottom: px; */
    position: relative;
}
.navform {
    /* padding-top: 5vh; */
    /* padding-bottom: 4vh; */
}
.sections {
    width: 100%;
}
.sections h1 {
    font-size: 1rem;
}
.articles li {
    flex-basis: 25%;
}
.copyright {
    text-align: left;
    padding-left: 30px;
}
}